body {
    background-color: #302E2B;
    font-family: "Montserrat", sans-serif;
    margin: auto;
    /* width: 80%; */
}

.custom-container {
    max-width: 1500px; 
    margin-left: auto; /* Equivalent to mx-auto */
    margin-right: auto; /* Equivalent to mx-auto */
    padding-top: 2rem; /* Equivalent to py-4 in Tailwind */
    padding-bottom: 1rem; /* Equivalent to py-4 in Tailwind */
    width: 100%; /* Equivalent to w-full */
}

.section-container {
    padding-top: 1rem;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.nav-bar {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.nav-bar-items-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 7rem;
    gap: 0.25rem;
}

.nav-bar-item {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 400;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    transition: opacity 0.3s;
}

.nav-bar-item:hover {
    opacity: 0.4;
}

.mobile-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
}

.mobile-nav:hover {
    cursor: pointer;
}

.nav-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.nav-overlay-links {
    list-style: none;
    text-align: center;
}

.nav-overlay-links li {
    margin-top: 3rem;
}

.nav-overlay-links a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.home-content {
    border: 1px solid rgb(255, 255, 255, 0.3);
    border-radius: 50px;
    padding: 1rem;
}

.home-content-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.left-side-content-container {
    display: flex;
    align-items: flex-end;
    margin-left: 1rem;
    /* max-width: 584px; */
}

.left-side-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.intro-container {
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    color: white;
}

.intro-text {
    font-size: 1.1em;
}

.intro-name {
    font-size: 3.2em;
    font-weight: 550;
}

.intro-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #52514E;
    border-radius: 50px;
}

.education {
    margin-top: 3rem;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 18px;
}

.education-description {
    margin-top: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
    line-height: 1.5;
}

.intro-career {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #52514E;
    background-color: white;
    border-radius: 50px;
}

.career {
    margin-top: 2rem;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 18px;
}

.career-description {
    margin-top: 0.2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 3rem;
    line-height: 1.5;
}

.intro-hobbies {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

.hobbies {
    margin-left: 1.5rem;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 16px;
}

.hobbies-description {
    margin-left: 2rem;
}

.right-side-content-container {
    display: flex;
    align-items: center;
    /* max-width: 584px; */
}

.right-side-content {
    display: flex;
    /* flex-direction: column; */
    gap: 1rem;
}

.profile-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    /* background-color: #3D4043; */
    border-radius: 50px;
}

.profile-picture {
    width: 75%;
    height: 100%;
    border-radius: 50px;
}

.contacts-container {
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-left: 2.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #52514E;
}

.contact-icon {
    padding: 0.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.footer-icon {
    padding: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    transition: opacity 0.3s;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: 250;
    color: white;
    opacity: 0.3;
    margin-left: auto;
    margin-right: 1.6rem;
}

.link-icon {
    margin-left: 1rem;
    opacity: 0.8;
}

.contact-icon:hover {
    transform: scale(1.1) translateY(-5px) translateX(+5px);
    filter: brightness(1.2);
}

.footer-icon:hover {
    opacity: 0.4;
}

.link-icon:hover {
    opacity: 0.4;
}

.body-section-container {
    padding-top: 1rem;
    max-width: 1500px;
    height: 1200px;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.body-section-container-projects {
    padding-top: 1rem;
    max-width: 1500px;
    height: auto;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.body-section-container-footer {
    padding-top: 1rem;
    max-width: 1500px;
    height: 600px;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.experience-content {
    padding: 1rem;
}

.experience-content-container {
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
    margin-top: 1rem;
    margin-bottom: 3rem;
    border: 1px inset rgb(255, 255, 255, 0.3);
    border-radius: 50px;
    padding: 2rem;
    background-color: #52514E;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.experience-content-title {
    margin-bottom: 4rem;
    color: white;
    font-size:xx-large;
    font-weight: 550;
    letter-spacing: 1.5px;
}

.experience-items-container {
    display: flex;
    flex-direction: row;
    color: white;
    /* gap: 5rem */
    justify-content: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 12rem;
}

.experience-items-container2 {
    display: flex;
    flex-direction: row;
    color: white;
    /* gap: 5rem */
    justify-content: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.experience-item {
    gap: 1rem;
    display: flex;
    flex-direction: row;
}

.experience-item2 {
    gap: 1rem;
    display: flex;
    flex-direction: row;
    margin-left: 6rem;
}

.experience-item3 {
    gap: 1rem;
    display: flex;
    flex-direction: row;
    margin-left: 12rem;
}

.experience-text1 {
    font-weight: 200;
    font-size: 20px;
}

.experience-text2 {
    font-weight: 500;
    font-size: 20px;
}

.experience-icon {
    margin-top: 10px;
}

.experience-description-title {
    color: white;
}

.experience-description {
    font-weight: 300;
    font-size: 18px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.experience-description-list {
    list-style: none;
}

.experience-list-item {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.nirix-description {
    line-height: 1.5;
}

.projects-content {
    padding: 1rem;
}

.projects-content-title {
    margin-bottom: 4rem;
    color: white;
    font-size:xx-large;
    font-weight: 550;
    letter-spacing: 1.5px;
}

.projects-icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    justify-content: center;
}

.projects-icons-fitbook {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 362.5px;
    height: 180px;
    background: rgb(254, 244, 244);
    opacity: 0.85;
    border: 2px solid #52514E;
    text-align: center;
    color: linear-gradient(#F4A734, #7DD6FA);
    position: relative;
    cursor: pointer;
    transition: 1500ms ease;
}

.projects-icons-fitbook:before {
    position: absolute;
    width: 0;
    height: 2px;
    content: "";
    background: linear-gradient(#F4A734, #7DD6FA);
    top: -2px;
    left: -2px;
    transition: 100ms width ease 300ms;
    -web-kit-transition: 100ms width ease 300ms;
}

.projects-icons-fitbook:after {
    position: absolute;
    width: 2px;
    height: 0;
    content: "";
    background: linear-gradient(#F4A734, #7DD6FA);
    top: -2px;
    right: -2px;
    transition: 100ms height ease 200ms;
    -web-kit-transition: 100ms height ease 200ms;
}

.projects-icons-inner-fitbook:after {
    position: absolute;
    width: 0;
    height: 2px;
    content: "";
    background: linear-gradient(#F4A734, #7DD6FA);
    bottom: -2px;
    right: -2px;
    transition: 100ms width ease 100ms;
    -web-kit-transition: 100ms width ease 100ms;
}

.projects-icons-inner-fitbook:before {
    position: absolute;
    width: 2px;
    height: 0;
    content: "";
    background: linear-gradient(#F4A734, #7DD6FA);
    bottom: -2px;
    left: -2px;
    transition: 100ms height ease 0ms;
    -web-kit-transition: 100ms height ease 0ms;
}

.projects-icons-fitbook:hover {
    border-color: transparent;
    opacity: 1.0;
    transform: scale(1.0) translateY(-5px) translateX(-5px);
    filter: brightness(1.2);
    background-color: #52514E;
    background-image: url('../img/fitbooklogo.png');
    background-size: 350px 180px;
    background-position: center;
}

.projects-icons-fitbook:hover p {
    display: none;
}

.projects-icons-fitbook:hover:before {
    width: calc(100% + 2px);
    transition: 100ms width ease 0ms;
    -web-kit-transition: 100ms width ease 0ms;
}

.projects-icons-fitbook:hover:after {
    height: calc(100% + 2px);
    transition: 100ms height ease 100ms;
    -web-kit-transition: 100ms height ease 100ms;
}

.projects-icons-fitbook:hover .projects-icons-inner-fitbook:after {
    width: calc(100% + 2px);
    transition: 100ms width ease 200ms;
    -web-kit-transition: 100ms width ease 200ms;
}

.projects-icons-fitbook:hover .projects-icons-inner-fitbook:before {
    height: calc(100% + 2px);
    transition: 100ms height ease 300ms;
    -web-kit-transition: 100ms height ease 300ms;
}

.projects-icons-chess {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 362.5px;
    height: 180px;
    background: rgb(200, 200, 200);
    opacity: 0.85;
    border: 2px solid #52514E;
    text-align: center;
    color: white;
    position: relative;
    cursor: pointer;
    transition: 1500ms ease;
}

.projects-icons-chess:before {
    position: absolute;
    width: 0;
    height: 2px;
    content: "";
    background: white;
    top: -2px;
    left: -2px;
    transition: 100ms width ease 300ms;
    -web-kit-transition: 100ms width ease 300ms;
}

.projects-icons-chess:after {
    position: absolute;
    width: 2px;
    height: 0;
    content: "";
    background: white;
    top: -2px;
    right: -2px;
    transition: 100ms height ease 200ms;
    -web-kit-transition: 100ms height ease 200ms;
}

.projects-icons-inner-chess:after {
    position: absolute;
    width: 0;
    height: 2px;
    content: "";
    background: white;
    bottom: -2px;
    right: -2px;
    transition: 100ms width ease 100ms;
    -web-kit-transition: 100ms width ease 100ms;
}

.projects-icons-inner-chess:before {
    position: absolute;
    width: 2px;
    height: 0;
    content: "";
    background: white;
    bottom: -2px;
    left: -2px;
    transition: 100ms height ease 0ms;
    -web-kit-transition: 100ms height ease 0ms;
}

.projects-icons-chess:hover {
    border-color: transparent;
    opacity: 1.0;
    transform: scale(1.0) translateY(-5px) translateX(-5px);
    filter: brightness(1.2);
    background-color: #52514E;
    background-image: url('../img/chesspiece.png');
    background-size: 360px 180px;
    background-position: center;
}

.projects-icons-chess:hover p {
    display: none;
}

.projects-icons-chess:hover:before {
    width: calc(100% + 2px);
    transition: 100ms width ease 0ms;
    -web-kit-transition: 100ms width ease 0ms;
}

.projects-icons-chess:hover:after {
    height: calc(100% + 2px);
    transition: 100ms height ease 100ms;
    -web-kit-transition: 100ms height ease 100ms;
}

.projects-icons-chess:hover .projects-icons-inner-chess:after {
    width: calc(100% + 2px);
    transition: 100ms width ease 200ms;
    -web-kit-transition: 100ms width ease 200ms;
}

.projects-icons-chess:hover .projects-icons-inner-chess:before {
    height: calc(100% + 2px);
    transition: 100ms height ease 300ms;
    -web-kit-transition: 100ms height ease 300ms;
}

.projects-icons-splitify {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 362.5px;
    height: 180px;
    background: rgb(153, 152, 152);
    opacity: 0.85;
    border: 2px solid #52514E;
    text-align: center;
    color: white;
    position: relative;
    cursor: pointer;
    transition: 1500ms ease;
}

.projects-icons-splitify:before {
    position: absolute;
    width: 0;
    height: 2px;
    content: "";
    background: linear-gradient(145deg, #B4CDED, #BFCC94);
    top: -2px;
    left: -2px;
    transition: 100ms width ease 300ms;
    -web-kit-transition: 100ms width ease 300ms;
}

.projects-icons-splitify:after {
    position: absolute;
    width: 2px;
    height: 0;
    content: "";
    background: linear-gradient(145deg, #B4CDED, #BFCC94);
    top: -2px;
    right: -2px;
    transition: 100ms height ease 200ms;
    -web-kit-transition: 100ms height ease 200ms;
}

.projects-icons-inner-splitify:after {
    position: absolute;
    width: 0;
    height: 2px;
    content: "";
    background: linear-gradient(145deg, #B4CDED, #BFCC94);
    bottom: -2px;
    right: -2px;
    transition: 100ms width ease 100ms;
    -web-kit-transition: 100ms width ease 100ms;
}

.projects-icons-inner-splitify:before {
    position: absolute;
    width: 2px;
    height: 0;
    content: "";
    background: linear-gradient(145deg, #B4CDED, #BFCC94);
    bottom: -2px;
    left: -2px;
    transition: 100ms height ease 0ms;
    -web-kit-transition: 100ms height ease 0ms;
}

.projects-icons-splitify:hover {
    border-color: transparent;
    opacity: 1.0;
    transform: scale(1.0) translateY(-5px) translateX(-5px);
    filter: brightness(1.2);
    background-color: #52514E;
    background-image: url('../img/splitifylogo.png');
    background-size: cover;
    background-position: center;
}

.projects-icons-splitify:hover p {
    display: none;
}

.projects-icons-splitify:hover:before {
    width: calc(100% + 2px);
    transition: 100ms width ease 0ms;
    -web-kit-transition: 100ms width ease 0ms;
}

.projects-icons-splitify:hover:after {
    height: calc(100% + 2px);
    transition: 100ms height ease 100ms;
    -web-kit-transition: 100ms height ease 100ms;
}

.projects-icons-splitify:hover .projects-icons-inner-splitify:after {
    width: calc(100% + 2px);
    transition: 100ms width ease 200ms;
    -web-kit-transition: 100ms width ease 200ms;
}

.projects-icons-splitify:hover .projects-icons-inner-splitify:before {
    height: calc(100% + 2px);
    transition: 100ms height ease 300ms;
    -web-kit-transition: 100ms height ease 300ms;
}

.projects-icons-linux {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 362.5px;
    height: 180px;
    background: rgb(172, 172, 172);
    opacity: 0.85;
    border: 2px solid #52514E;
    text-align: center;
    color: white;
    position: relative;
    cursor: pointer;
    transition: 1500ms ease;
}

.projects-icons-linux:before {
    position: absolute;
    width: 0;
    height: 2px;
    content: "";
    background: white;
    top: -2px;
    left: -2px;
    transition: 100ms width ease 300ms;
    -web-kit-transition: 100ms width ease 300ms;
}

.projects-icons-linux:after {
    position: absolute;
    width: 2px;
    height: 0;
    content: "";
    background: white;
    top: -2px;
    right: -2px;
    transition: 100ms height ease 200ms;
    -web-kit-transition: 100ms height ease 200ms;
}

.projects-icons-inner-linux:after {
    position: absolute;
    width: 0;
    height: 2px;
    content: "";
    background: white;
    bottom: -2px;
    right: -2px;
    transition: 100ms width ease 100ms;
    -web-kit-transition: 100ms width ease 100ms;
}

.projects-icons-inner-linux:before {
    position: absolute;
    width: 2px;
    height: 0;
    content: "";
    background: white;
    bottom: -2px;
    left: -2px;
    transition: 100ms height ease 0ms;
    -web-kit-transition: 100ms height ease 0ms;
}

.projects-icons-linux:hover {
    border-color: transparent;
    opacity: 1.0;
    transform: scale(1.0) translateY(-5px) translateX(-5px);
    filter: brightness(1.2);
    background-color: #52514E;
    background-image: url('../img/linuxlogo.png');
    background-size: 310px 180px;
    background-position: center;
}

.projects-icons-linux:hover p {
    display: none;
}

.projects-icons-linux:hover:before {
    width: calc(100% + 2px);
    transition: 100ms width ease 0ms;
    -web-kit-transition: 100ms width ease 0ms;
}

.projects-icons-linux:hover:after {
    height: calc(100% + 2px);
    transition: 100ms height ease 100ms;
    -web-kit-transition: 100ms height ease 100ms;
}

.projects-icons-linux:hover .projects-icons-inner-linux:after {
    width: calc(100% + 2px);
    transition: 100ms width ease 200ms;
    -web-kit-transition: 100ms width ease 200ms;
}

.projects-icons-linux:hover .projects-icons-inner-linux:before {
    height: calc(100% + 2px);
    transition: 100ms height ease 300ms;
    -web-kit-transition: 100ms height ease 300ms;
}

.projects-icons-langchain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 362.5px;
    height: 180px;
    background: rgb(136, 135, 135);
    opacity: 0.85;
    border: 2px solid #52514E;
    text-align: center;
    color: white;
    position: relative;
    cursor: pointer;
    transition: 1500ms ease;
}

.projects-icons-langchain:before {
    position: absolute;
    width: 0;
    height: 2px;
    content: "";
    background: white;
    top: -2px;
    left: -2px;
    transition: 100ms width ease 300ms;
    -web-kit-transition: 100ms width ease 300ms;
}

.projects-icons-langchain:after {
    position: absolute;
    width: 2px;
    height: 0;
    content: "";
    background: white;
    top: -2px;
    right: -2px;
    transition: 100ms height ease 200ms;
    -web-kit-transition: 100ms height ease 200ms;
}

.projects-icons-inner-langchain:after {
    position: absolute;
    width: 0;
    height: 2px;
    content: "";
    background: white;
    bottom: -2px;
    right: -2px;
    transition: 100ms width ease 100ms;
    -web-kit-transition: 100ms width ease 100ms;
}

.projects-icons-inner-langchain:before {
    position: absolute;
    width: 2px;
    height: 0;
    content: "";
    background: white;
    bottom: -2px;
    left: -2px;
    transition: 100ms height ease 0ms;
    -web-kit-transition: 100ms height ease 0ms;
}

.projects-icons-langchain:hover {
    border-color: transparent;
    opacity: 1.0;
    transform: scale(1.0) translateY(-5px) translateX(-5px);
    filter: brightness(1.2);
    background-color: #52514E;
    background-image: url('../img/langchain.png');
    background-size: cover;
    background-position: center;
}

.projects-icons-langchain:hover p {
    display: none;
}

.projects-icons-langchain:hover:before {
    width: calc(100% + 2px);
    transition: 100ms width ease 0ms;
    -web-kit-transition: 100ms width ease 0ms;
}

.projects-icons-langchain:hover:after {
    height: calc(100% + 2px);
    transition: 100ms height ease 100ms;
    -web-kit-transition: 100ms height ease 100ms;
}

.projects-icons-langchain:hover .projects-icons-inner-langchain:after {
    width: calc(100% + 2px);
    transition: 100ms width ease 200ms;
    -web-kit-transition: 100ms width ease 200ms;
}

.projects-icons-langchain:hover .projects-icons-inner-langchain:before {
    height: calc(100% + 2px);
    transition: 100ms height ease 300ms;
    -web-kit-transition: 100ms height ease 300ms;
}

.projects-icons-text-langchain {
    color: white;
    letter-spacing: 1.1px;
    font-size: 18px;
    font-weight: 500;
    z-index: 2;
}

.projects-icons-webgallery {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 362.5px;
    height: 180px;
    background: rgb(113, 113, 113);
    opacity: 0.85;
    border: 2px solid #52514E;
    text-align: center;
    color: white;
    position: relative;
    cursor: pointer;
    transition: 1500ms ease;
}

.projects-icons-webgallery:before {
    position: absolute;
    width: 0;
    height: 2px;
    content: "";
    background: white;
    top: -2px;
    left: -2px;
    transition: 100ms width ease 300ms;
    -web-kit-transition: 100ms width ease 300ms;
}

.projects-icons-webgallery:after {
    position: absolute;
    width: 2px;
    height: 0;
    content: "";
    background: white;
    top: -2px;
    right: -2px;
    transition: 100ms height ease 200ms;
    -web-kit-transition: 100ms height ease 200ms;
}

.projects-icons-inner-webgallery:after {
    position: absolute;
    width: 0;
    height: 2px;
    content: "";
    background: white;
    bottom: -2px;
    right: -2px;
    transition: 100ms width ease 100ms;
    -web-kit-transition: 100ms width ease 100ms;
}

.projects-icons-inner-webgallery:before {
    position: absolute;
    width: 2px;
    height: 0;
    content: "";
    background: white;
    bottom: -2px;
    left: -2px;
    transition: 100ms height ease 0ms;
    -web-kit-transition: 100ms height ease 0ms;
}

.projects-icons-webgallery:hover {
    border-color: transparent;
    opacity: 1.0;
    transform: scale(1.0) translateY(-5px) translateX(-5px);
    filter: brightness(1.2);
    background-color: #52514E;
    background-image: url('../img/monalisa.png');
    background-size: contain;
    background-position: center;
}

.projects-icons-webgallery:hover p {
    display: none;
}

.projects-icons-webgallery:hover:before {
    width: calc(100% + 2px);
    transition: 100ms width ease 0ms;
    -web-kit-transition: 100ms width ease 0ms;
}

.projects-icons-webgallery:hover:after {
    height: calc(100% + 2px);
    transition: 100ms height ease 100ms;
    -web-kit-transition: 100ms height ease 100ms;
}

.projects-icons-webgallery:hover .projects-icons-inner-webgallery:after {
    width: calc(100% + 2px);
    transition: 100ms width ease 200ms;
    -web-kit-transition: 100ms width ease 200ms;
}

.projects-icons-webgallery:hover .projects-icons-inner-webgallery:before {
    height: calc(100% + 2px);
    transition: 100ms height ease 300ms;
    -web-kit-transition: 100ms height ease 300ms;
}

.projects-icons-text-webgallery {
    color: white;
    letter-spacing: 1.1px;
    font-size: 18px;
    font-weight: 500;
    z-index: 2;
}

.projects-icons-PintOS {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 362.5px;
    height: 180px;
    background: rgb(97, 97, 97);
    opacity: 0.85;
    border: 2px solid #52514E;
    text-align: center;
    color: white;
    position: relative;
    cursor: pointer;
    transition: 1500ms ease;
}

.projects-icons-PintOS:before {
    position: absolute;
    width: 0;
    height: 2px;
    content: "";
    background: white;
    top: -2px;
    left: -2px;
    transition: 100ms width ease 300ms;
    -web-kit-transition: 100ms width ease 300ms;
}

.projects-icons-PintOS:after {
    position: absolute;
    width: 2px;
    height: 0;
    content: "";
    background: white;
    top: -2px;
    right: -2px;
    transition: 100ms height ease 200ms;
    -web-kit-transition: 100ms height ease 200ms;
}

.projects-icons-inner-PintOS:after {
    position: absolute;
    width: 0;
    height: 2px;
    content: "";
    background: white;
    bottom: -2px;
    right: -2px;
    transition: 100ms width ease 100ms;
    -web-kit-transition: 100ms width ease 100ms;
}

.projects-icons-inner-PintOS:before {
    position: absolute;
    width: 2px;
    height: 0;
    content: "";
    background: white;
    bottom: -2px;
    left: -2px;
    transition: 100ms height ease 0ms;
    -web-kit-transition: 100ms height ease 0ms;
}

.projects-icons-PintOS:hover {
    border-color: transparent;
    opacity: 1.0;
    transform: scale(1.0) translateY(-5px) translateX(-5px);
    filter: brightness(1.2);
    background-color: #52514E;
    background-image: url('../img/pintos.png');
    background-size: cover;
    background-position: center;
}

.projects-icons-PintOS:hover p {
    display: none;
}

.projects-icons-PintOS:hover:before {
    width: calc(100% + 2px);
    transition: 100ms width ease 0ms;
    -web-kit-transition: 100ms width ease 0ms;
}

.projects-icons-PintOS:hover:after {
    height: calc(100% + 2px);
    transition: 100ms height ease 100ms;
    -web-kit-transition: 100ms height ease 100ms;
}

.projects-icons-PintOS:hover .projects-icons-inner-PintOS:after {
    width: calc(100% + 2px);
    transition: 100ms width ease 200ms;
    -web-kit-transition: 100ms width ease 200ms;
}

.projects-icons-PintOS:hover .projects-icons-inner-PintOS:before {
    height: calc(100% + 2px);
    transition: 100ms height ease 300ms;
    -web-kit-transition: 100ms height ease 300ms;
}

.projects-icons-text-PintOS {
    color: white;
    letter-spacing: 1.1px;
    font-size: 18px;
    font-weight: 500;
    z-index: 2;
}

.projects-icons-website {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 362.5px;
    height: 180px;
    background: rgb(81, 81, 81);
    opacity: 0.85;
    border: 2px solid #52514E;
    text-align: center;
    color: white;
    position: relative;
    cursor: pointer;
    transition: 1500ms ease;
}

.projects-icons-website:before {
    position: absolute;
    width: 0;
    height: 2px;
    content: "";
    background: white;
    top: -2px;
    left: -2px;
    transition: 100ms width ease 300ms;
    -web-kit-transition: 100ms width ease 300ms;
}

.projects-icons-website:after {
    position: absolute;
    width: 2px;
    height: 0;
    content: "";
    background: white;
    top: -2px;
    right: -2px;
    transition: 100ms height ease 200ms;
    -web-kit-transition: 100ms height ease 200ms;
}

.projects-icons-inner-website:after {
    position: absolute;
    width: 0;
    height: 2px;
    content: "";
    background: white;
    bottom: -2px;
    right: -2px;
    transition: 100ms width ease 100ms;
    -web-kit-transition: 100ms width ease 100ms;
}

.projects-icons-inner-website:before {
    position: absolute;
    width: 2px;
    height: 0;
    content: "";
    background: white;
    bottom: -2px;
    left: -2px;
    transition: 100ms height ease 0ms;
    -web-kit-transition: 100ms height ease 0ms;
}

.projects-icons-website:hover {
    border-color: transparent;
    opacity: 1.0;
    transform: scale(1.0) translateY(-5px) translateX(-5px);
    filter: brightness(1.2);
    background-color: #52514E;
    background-image: url('../img/LOGO.png');
    background-size: 330px 150px;
    background-position: center;
}

.projects-icons-website:hover p {
    display: none;
}

.projects-icons-website:hover:before {
    width: calc(100% + 2px);
    transition: 100ms width ease 0ms;
    -web-kit-transition: 100ms width ease 0ms;
}

.projects-icons-website:hover:after {
    height: calc(100% + 2px);
    transition: 100ms height ease 100ms;
    -web-kit-transition: 100ms height ease 100ms;
}

.projects-icons-website:hover .projects-icons-inner-website:after {
    width: calc(100% + 2px);
    transition: 100ms width ease 200ms;
    -web-kit-transition: 100ms width ease 200ms;
}

.projects-icons-website:hover .projects-icons-inner-website:before {
    height: calc(100% + 2px);
    transition: 100ms height ease 300ms;
    -web-kit-transition: 100ms height ease 300ms;
}

.projects-icons-text-website {
    color: white;
    letter-spacing: 1.1px;
    font-size: 18px;
    font-weight: 500;
    z-index: 2;
}

/* .projects-icons-linux {
    width: 250px;
    height: 250px;
    background-color: #3D4043;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    --offset: 4px;
} */

/* .projects-icons::before {
    content: '';
    position: absolute;
    width: 140px;
    height: 140%;
    background: linear-gradient(#F4A734, #7DD6FA);
    animation: rotate 1.5s ease-in-out infinite;
} */

/* .projects-icons-linux::before {
    content: '';
    background: conic-gradient(transparent 270deg,
    white, transparent);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -60%);
    aspect-ratio: 1;
    width: 100%;
    animation: rotate 1s forwards infinite;
}

.projects-icons-linux::after {
    content: '';
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
    height: calc(100% - 2 * var(--offset));
    width: calc(100% - 2 * var(--offset));
} */

/* .projects-icons::after {
    content: '';
    position: absolute;
    background-color: inherit;
    inset: 2px;
    border-radius: 50px ;
} */

/* @keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */

/* .projects-icons-linux:hover {
    transform: scale(1.1) translateY(-5px) translateX(-5px);
    filter: brightness(1.2);
    border: 1px solid rgb(255, 255, 255, 0.3);
} */

.projects-icons-text {
    color: #302E2B;
    letter-spacing: 1.1px;
    font-size: 18px;
    font-weight: 500;
    z-index: 2;
}

.projects-icons-text-splitify {
    color: #344966;
    letter-spacing: 1.1px;
    font-size: 18px;
    font-weight: 600;
    z-index: 2;
}

.project-content-section-container {
    padding: 1rem;
    max-width: 100%;
}

.langchain-text {
    color: white;
    font-weight: 500;
    text-decoration: underline;
}

.linux-sysmon-item {
    color: white;
    font-size: large;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.os-item {
    color: white;
    font-size: large;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.os-text {
    color: white;
    font-weight: 500;
    text-decoration: underline;
}

.project-content-section-container .not-available {
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
}

.project-content-title {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.project-content-title-text {
    font-weight: 250;
    font-size: 16px;
    color: white;
}

.project-content-title-text2 {
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-left: 1rem;
}

.project-content-description {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.project-content-description-text {
    font-weight: 250;
    font-size: 16px;
    color: white;
    margin-bottom: 2rem;
}

.project-content-description-text2 {
    color: white;
    /* line-break: auto; */
    margin-left: 1rem;
    font-weight: 450;
    font-size: 18px;
}

.project-content-skills {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.project-content-skills-text {
    font-weight: 250;
    font-size: 16px;
    color: white;
}

.project-content-skills-container {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 1rem;
    gap: 3rem;
}

.project-content-skills-item {
    width: 115px;
    height: 40px;
    border: 1px solid rgb(255, 255, 255, 0.3);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-content-skills-item:hover {
    background-color: #52514E;
    transform: translateY(-1px);
    cursor: pointer;
}

.project-content-skills-text2 {
    color: white;
    font-size: 15px;
    font-weight: 550;
    letter-spacing: 1.05px;
}

a {
    text-decoration: none;
}

.project-content-skills-item-react-native {
    width: 145px;
    height: 40px;
    border: 1px solid rgb(255, 255, 255, 0.3);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-content-skills-item-react-native:hover {
    background-color: #52514E;
    transform: translateY(-1px);
    cursor: pointer;
}

.project-content-skills-item-typescript {
    width: 120px;
    height: 40px;
    border: 1px solid rgb(255, 255, 255, 0.3);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-content-skills-item-typescript:hover {
    background-color: #52514E;
    transform: translateY(-1px);
    cursor: pointer;
}

.project-content-links-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.project-content-links {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.project-content-links-text {
    font-weight: 250;
    font-size: 16px;
    color: white;
    margin-bottom: 2rem;
}

.courses-content {
    color: white;
    font-size: larger;
}

.courses-content-title {
    margin-bottom: 4rem;
    color: white;
    font-size:xx-large;
    font-weight: 550;
    letter-spacing: 1.5px;
}

.gallery-content {
    color: white;
    font-size: larger;
}

.gallery-content-title {
    margin-bottom: 4rem;
    color: white;
    font-size:xx-large;
    font-weight: 550;
    letter-spacing: 1.5px;
}

.contact-content {
    color: white;
    font-size: larger;
}

.contact-content-title {
    margin-bottom: 4rem;
    color: white;
    font-size:xx-large;
    font-weight: 550;
    letter-spacing: 1.5px;
}

.contact-section-container {
    padding: 1rem;
}

.contact-info {
    margin-left: 1rem;
}

.contact-info-title {
    margin-bottom: 2rem;
}

.contact-info-title-text {
    color: white;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1.2px;
}

.contact-info-item {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.contact-info-icon {
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
    margin-right: 2rem;
}

.contact-info-icon2 {
    padding: 0.5rem;
    margin-bottom: 2.5rem;
    margin-right: 2rem;
}

.contact-info-text {
    color: white;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 1.1px;
}

.contact-info-text2 {
    color: white;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 1.1px;
    margin-top: 0.8rem;
}

.footer-container {
    border-top: 1px solid rgb(255, 255, 255, 0.1);
}

.footer-content-container {
    display: flex;
    flex-direction: row;
}

@media (min-width: 1280px) {
    .nav-bar {
        padding-left: 0;
    }
    .mobile-nav {
        display: none;
    }
}

@media (max-width: 1280px) {
    .nav-bar-items-container {
        display: none;
    }
    .mobile-nav {
        display: flex;
    }
    .home-content-container {
        flex-direction: column;
    }
    .profile-container {
        flex-direction: column;
    }
    .contacts-container {
        flex-direction: row;
    }
}