.custom-container {
    max-width: 1200px; /* Adjust the max-width as needed */
    margin-left: auto; /* Equivalent to mx-auto */
    margin-right: auto; /* Equivalent to mx-auto */
    padding-top: 1rem; /* Equivalent to py-4 in Tailwind */
    padding-bottom: 1rem; /* Equivalent to py-4 in Tailwind */
    width: 100%; /* Equivalent to w-full */
}

.custom-flex {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

@media (min-width: 1280px) {
    .custom-flex {
        padding-left: 0;
    }
}